<header>
  <div class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper purple darken-1">
      <a href="#!" class="brand-logo" [routerLink]="['/']">TripIN<i class="large material-icons right">flight_takeoff</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" [routerLink]="['/']"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="" [routerLink]="['/profile']"><i class="material-icons left">account_circle</i>Profile</a></li>
        <li>
            <mat-slide-toggle [formControl]="checked"><span class="toggleText"  ><i class="material-icons left">verified_user</i></span></mat-slide-toggle>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header> 