<div class="">
    <div class="row card">   
             <h4 class="center">Why we are?</h4>
                <div class="col m4">
                    <div class="center promo promo-example">
                        <i class="material-icons">flash_on</i>
                        <p class="promo-caption">Loren Ipsum</p>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor blandit est, vel condimentum ipsum venenatis at. Donec eget nunc mattis, venenatis erat non, placerat purus. Proin in commodo velit. Ut aliquam nibh id vulputate placerat. Sed pellentesque, magna hendrerit maximus bibendum, neque ex faucibus ligula, sit amet iaculis nunc metus vitae leo. Maecenas aliquet, mauris ac lacinia lobortis, felis sem lacinia dolor, nec maximus ex mauris ac nibh. Aliquam vehicula congue condimentum. Proin eu libero at arcu laoreet rhoncus vitae sed libero. Duis id lacus scelerisque, ultrices dolor vel, ultrices diam.</p>
                    </div>
                </div>
                <div class="col m4">
                    <div class="center promo promo-example">
                        <i class="material-icons">airplanemode_active</i>
                        <p class="promo-caption">Loren Ipsum</p>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor blandit est, vel condimentum ipsum venenatis at. Donec eget nunc mattis, venenatis erat non, placerat purus. Proin in commodo velit. Ut aliquam nibh id vulputate placerat. Sed pellentesque, magna hendrerit maximus bibendum, neque ex faucibus ligula, sit amet iaculis nunc metus vitae leo. Maecenas aliquet, mauris ac lacinia lobortis, felis sem lacinia dolor, nec maximus ex mauris ac nibh. Aliquam vehicula congue condimentum. Proin eu libero at arcu laoreet rhoncus vitae sed libero. Duis id lacus scelerisque, ultrices dolor vel, ultrices diam.</p>
                    </div>
                </div>
                <div class="col m4">
                    <div class="center promo promo-example">
                        <i class="material-icons">av_timer</i>
                        <p class="promo-caption">Loren Ipsum</p>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor blandit est, vel condimentum ipsum venenatis at. Donec eget nunc mattis, venenatis erat non, placerat purus. Proin in commodo velit. Ut aliquam nibh id vulputate placerat. Sed pellentesque, magna hendrerit maximus bibendum, neque ex faucibus ligula, sit amet iaculis nunc metus vitae leo. Maecenas aliquet, mauris ac lacinia lobortis, felis sem lacinia dolor, nec maximus ex mauris ac nibh. Aliquam vehicula congue condimentum. Proin eu libero at arcu laoreet rhoncus vitae sed libero. Duis id lacus scelerisque, ultrices dolor vel, ultrices diam.</p>
                    </div>                 
                </div>
     </div>
     <div class="row advant">
        <div class="col m3">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">
        </div>
        <div class="col m3">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">   
        </div>
        <div class="col m3">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m3">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m2">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m2">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m2">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m2">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m2">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
        <div class="col m2">
            <img class="responsive-img" src="https://www.wien.info/media/images/flughafen-wien-airport-vip-service-3to2-1.jpeg/image_gallery">    
        </div>
     </div>
    <div class="row">
        <div class="col m8">
            <div class="home-row_people">
                <app-home-people></app-home-people>
            </div>
        </div>
        <div class="col m4">
            <div class="home-row_stats">
                <app-home-stats></app-home-stats>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
                <app-home-airports *ngIf="airports" [airports]="airports"></app-home-airports>
        </div>
    </div>
</div>




