<div class="row card">
  <div class="col m4">
      <div class="card-header">
          <img class="responsive-img" src="https://s-media-cache-ak0.pinimg.com/originals/3b/f0/77/3bf0775b0d234545d14a5941be966ab2.jpg"/>
      </div>
      <div class="card-content">
          <a class="btn btn-floating btn-large pulse"><i class="material-icons">menu</i></a>
          <a class="btn btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
          <a class="btn btn-floating btn-large pulse"><i class="material-icons">edit</i></a>
      </div>
  </div>
  <div class="col m8"> 
    <div class="card">
        <div class="card-content">
            <h3>{{myProfile.FirstName}}  {{myProfile.LastName}}</h3>
            <h4>@{{ myProfile.UserName}} </h4>
            <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
            <ul>
              <li>Gender: {{ myProfile.Gender }}</li>
              <li *ngFor="let p of myProfile.AddressInfo">
                  Address:
                {{ p.Address }}
                {{ p.City.Name }}
                {{ p.City.CountryRegion }}</li>
                <li *ngFor = "let email of myProfile.Emails"><a href="mailto:{{email}}">{{ email }}</a> </li>
            </ul>
          </div>
    </div>
  </div>
  <div class="col m12 card">
    <h4 style="color:#8e24aa">@{{ myProfile.UserName}}`s last posts</h4>
    <div class="row">
        <app-profile-post></app-profile-post>
    </div>
    <div class="row">
        <div class="col m12">
            <app-profile-form></app-profile-form>
          </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="profile-friends">
    <h3>My friends</h3>
    <app-profile-friends></app-profile-friends>
  </div>
</div>
<app-profile-trips></app-profile-trips>
