<mat-card>
    <mat-card-title><h4>Our Customers</h4></mat-card-title>
    <mat-card-content>
    <div class="example-container mat-elevation-z8">  
                
        <mat-progress-bar *ngIf="!dataSource" mode="indeterminate"></mat-progress-bar>  
        <mat-table #table [dataSource]="dataSource" *ngIf="dataSource">
        <ng-container matColumnDef="UserName">
            <mat-header-cell *matHeaderCellDef> @Username </mat-header-cell>
           
            <mat-cell *matCellDef="let row"> 
                <a [routerLink]="['/person', row.UserName]"> @{{row.UserName}} 
                </a>
            </mat-cell>
           
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="FirstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.FirstName}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="LastName">
            <mat-header-cell *matHeaderCellDef> Family Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Gender">
            <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Gender}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    
        <mat-paginator #paginator
                    [length]="exampleDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-1 " [routerLink]="['/add']"><i class="material-icons">add</i></a>
    </mat-card-content>
</mat-card>