<!-- <header class="header">
  <div class="container">
    <a [routerLink]="['/']" class="logo-link">
      <img class="img-logo" [src]="'/assets/images/odata.png'" alt="DAR Bazar">
    </a>
    <div class="header__icon">
      <a class="header__icon-link" [routerLink]="['/profile']">
        <img [src]="'/assets/images/profile-icon.svg'">
      </a>
    </div>
    <div class="header__profile">
      <a [routerLink]="['/profile']">My Profile</a>
    </div>
  </div>
</header> -->

<header>
<!--<nav>
    <button mat-button [routerLink]="['/']">
      <mat-icon> home </mat-icon>
      <span> Home </span>
    </button>
    <button mat-button [routerLink]="['/profile']">
      <mat-icon> account_circle</mat-icon>
      <span> Profile </span>
    </button>
    <mat-slide-toggle [formControl]="checked">Login</mat-slide-toggle>
  </nav>-->

  <div class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper purple darken-1">
      <a href="#!" class="brand-logo" [routerLink]="['/']">TripIN</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" [routerLink]="['/']"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="" [routerLink]="['/profile']"><i class="material-icons left">account_circle</i>Profile</a></li>
        <li>
            <mat-slide-toggle [formControl]="checked"><span class="toggleText"  ><i class="material-icons left">verified_user</i></span></mat-slide-toggle>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header> 